<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div id="sidebar">
        <div class="Title"><h1>Welcome</h1></div>
            <div class="Title">
                <h3 style="text-transform: uppercase;">@User.Identity.Name</h3>
            </div>
        <ul class="nav">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i><span>  Home</span></a></li>
            <li><a href="@Url.Action("Patients", "Home")"><i class="fa fa-users"></i><span>  Patients</span></a></li>
            <li><a href="@Url.Action("HospitalMain", "Home")"><i class="fa fa-arrow-circle-o-right"></i><span>  Outgoing Transfer Requests</span></a></li>
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-arrow-circle-o-left"></i><span>  Incoming Transfer Requests</span></a></li>
        </ul>
    </div>
    <div id="wrapper">
        <nav class="navbar navbar-inverse no-margin" style="border-radius:0px;">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button id="sidebarToggle" class="btn btn-primary"><i class="fa fa-angle-left fa-lg"></i></button>
                    </li>
                    <li><a asp-controller="Home" asp-action="Index" class="navbar-brand">ITP</a></li>
                </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a asp-controller="Auth" asp-action="Logout" class="btn btn-sm">
                                <i class="fa fa-sign-in"></i> Logout
                            </a>
                        </li>
                    </ul>
                    @*<ul class="nav navbar-nav navbar-right">
                        <li>
                            <a asp-controller="Auth" asp-action="Login" class="btn btn-sm">
                                <i class="fa fa-sign-in"></i> Login
                            </a>
                        </li>
                    </ul>*@
            </div>
        </nav>

        <main style="padding:20px;">
            @RenderBody()
        </main>
        <div id="footer">
            <span class="moveRight">&copy; @DateTime.Now.Year - PRS</span>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/JavaScript.js"></script>
</body>
</html>
